body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    }

header{
    background-color: rgba(223, 216, 116, 0.548);
    padding-left: 50px;
}

h1{
    color: rgb(139, 139, 13);
    margin-left: 20px;
    margin-right: 50px;
    text-shadow: rgb(138, 47, 47);

}

nav li{
    display: inline-block;
    margin-right: 100px;
    margin-top: 0px;
    }

img{
    width:20%;
    height:auto;
}
H2{
    color:rgb(201, 146, 7);
    text-shadow: black;

}
footer{
    height: 50px;
    background-color:rgb(223, 216, 116, 0.548);
    text-align: center;
}
main{
    background-color: rgba(204, 171, 134, 0.89);
}